 

<!--
 <div class="form-group">
    <label for="userid">UserId</label>
    <input type="email" class="form-control" id="userid" placeholder="user id">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
-->

<%= form_for :session, url: sessions_path, html:{class:"form-group"} do |f| %>
	<%= f.label :name %> <br>
	<%= f.text_field :name, class:"form-control" %> <br>

	<%= f.label :password %> <br>
	<%= f.password_field :password , class:"form-control"%> <br>
	<%= f.submit "Login", class:"btn btn-default"  %>
<% end %>
