<!DOCTYPE html>
<html>
<head>
  <title>Lab2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>

<div class="row">
	<div id="hero" class="col-xs-12 col-md-12">
		<h1> xxSkarlitxx Ran's Blog </h1>
	</div>
</div>
<div class="row">
		<div id="left" class="col-xs-2 col-sm-2">
			Crazy
		</div>
		<div id="center" class="col-xs-7 col-sm-7">
				<%= yield %>
		</div>

		<div id="right" class="col-xs-3 col-sm-3">
				<%= render 'partials/login' %>
		</div>

</div>

<div id="foot">
</div>

  </body>
</html>