<!DOCTYPE html>
<html>
<head>
  <title>xXRanXieXxBlog</title>

 	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
 	  <script type="text/javascript"
  		src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  	  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=js&lang=ruby&skin=sunburst"></script>
  </head>

<body>

<div class="container">
	<div class="row">
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
		<div id="hero" class="jumbotron col-xs-12 col-md-12">
			<div class="container">
				<%= render 'partials/banner'%>
				<div id="menu" class="col-xs-9 col-md-9">
					<div class="btn-group">
						  <button id="postslist" type="button" class="btn btn-danger"> <span class="btn-text">Posts</span></button>
						   <button id="tipslist" type="button" class="btn btn-danger"><span class="btn-text">Tips</span></button>
						   <button id="noteslist" type="button" class="btn btn-danger"><span class="btn-text">Notes</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content-wrapper" class="row">	
			<div id="center" class="col-xs-9 col-sm-9">	
					<%= yield %>
			</div>

			<div id="right" class="col-xs-3 col-sm-3">
				<div class="col-xs-12">
					<% if user_signed_in?%>
					   Signed in as <%= current_user.email %> <br>
					   <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
					<% else %>
					<%= render 'partials/login' %>
					<% end %>
				</div>
			</div>

	</div>

	<div class="row">
		<div id="footer" class="col-xs-12 col-md-12">
			<p> Last updated: <%= Time.now %>...well,I lied :p</p>
		</div>
	</div>
</div>


  </body>
</html>