<!DOCTYPE html>
<html>
<head>
  <title>Lab2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>


<div id="hero">
</div>
<div id="content-wrapper">
	<div id="left">
	</div>
	<div id="content-right-wrapper">
		<div id="center">
			<%= yield %>
		</div>
		<div id="right">
			<%= render 'partials/login' %>
		<div>
	</div>
</div>

<div id="foot">
</div>

  </body>
</html>